body{
    background:#ffe259;
    background: linear-gradient(to right, #ffa751,#ffe259);
}

/* Estilo específico para el botón "Editar" */
.btn-success.btn-sm {
    width: 80px; /* Ajusta el tamaño según lo necesario */
}

/* Estilo específico para el botón "Eliminar" */
.btn-danger.btn-sm {
    width: 80px; /* Asegura que el tamaño sea consistente */
}

.tabla-fondo-personalizado {
    background-color: #f0f8ff; /* Cambia el color de fondo que desees */
}
.container-fluid {
    max-width: 98%; /* Permite que la tabla use casi todo el ancho */
}

